html {
    background-color: #444;
}

#container {
    text-align: center;
}

#champSearch {
    padding-top: 0.6vh;
    padding-bottom: 0.6vh;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    width: 15vw;
    height: 2.5vh;
    border-radius: 5px;
}

.roleButton {
    width: 2.5vw;
    height: 2.5vw;
    background-color: #222;
    background-size: cover;
    border: none;
    border-radius: 5px;
}

.topButton {
    background-image: url("./assets/images/role_icons/Top_icon.webp");
}

.jungleButton {
    background-image: url("./assets/images/role_icons/Jungle_icon.webp");
}

.midButton {
    background-image: url("./assets/images/role_icons/Middle_icon.webp");
}

.bottomButton {
    background-image: url("./assets/images/role_icons/Bottom_icon.webp");
}

.supportButton {
    background-image: url("./assets/images/role_icons/Support_icon.webp");
}
